.main {
  padding: 40px 60px;
}

h2 {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 64px;
}

.visits {
  display: flex;
  align-items: center;
}

.prev {
  display: flex;
  justify-content: center;
}

.prev > span {
  font-size: 14px;
  font-weight: 500;
}

.sched {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
}

.sched-visits {
  margin-top: 8px;
  overflow-y: scroll;
}

.recd {
  display: flex;
  align-items: center;
}